@tailwind base;
@tailwind components;
@tailwind utilities;

body {    
    font-family: 'Roboto', sans-serif;  
 }

 /* CSS برای نوار اسکرول */

 /* width */
::-webkit-scrollbar {
    width: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(163, 163, 163); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(122, 122, 122); 
  }
  
  